.card {
  height: fit-content;
  margin: 1rem;
  position: relative;
  width: 150px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 115px;
  overflow: hidden;
  text-align: center;
}
.card > .img-container > img {
  width: 200px;
  height: 115px;
  cursor: pointer;
}

.img-thumbnail:hover {
  opacity: 0.5;
}
.img-container:hover {
  transform: scale(1.1);
}
